/* ---------------------------------------------------------------------
 Imports
------------------------------------------------------------------------ */
@import url("https://fonts.googleapis.com/css?family=Hind:400,700|Montserrat:600|Open+Sans:300,400,700");
/* line 5, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* ---------------------------------------------------------------------
 Variables
 ------------------------------------------------------------------------ */
/* === Blue Theme === */
/*$primary: #4F5E66;
$secondary: #7893A1;
$tertiary: #9DA9B0;
$accent: #4BC180;
$link-hover: lighten( $accent, 10% );
$background-color: rgba(237, 241, 245, 1);*/
/* === Gray Theme === */
/* === SIZING === */
/* === MEDIA QUERIES === */
/* === FONTS === */
/* === SHADOWS === */
/* ---------------------------------------------------------------------
 Susy Grid Settings
 ------------------------------------------------------------------------ */
@media (max-width: 1024px) {
  /* line 12, ../sass/_base.scss */
  .buffer {
    margin-left: 12px !important;
    margin-right: 12px !important;
  }
}

/* ---------------------------------------------------------------------
 Base Styles
 ----------------------------------------------------f-------------------- */
/* line 23, ../sass/_base.scss */
* {
  /*border: 1px solid red !important;*/
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 28, ../sass/_base.scss */
html {
  font-size: 16px;
  /*REM OVERRIDES FOR SPACING*/
}
@media (max-width: 1024px) {
  /* line 28, ../sass/_base.scss */
  html {
    font-size: 13px;
  }
}
@media (max-width: 768px) {
  /* line 28, ../sass/_base.scss */
  html {
    font-size: 10px;
  }
}

/* line 41, ../sass/_base.scss */
body {
  font-family: "Open Sans", sans-serif;
  position: relative;
}

/* line 46, ../sass/_base.scss */
h1 {
  font-family: "Open Sans", sans-serif;
  color: #212121;
  font-size: 38px;
  line-height: 58px;
  font-weight: 300;
  letter-spacing: 1px;
}
@media (max-width: 768px) {
  /* line 46, ../sass/_base.scss */
  h1 {
    font-size: 28px;
    line-height: 42px;
  }
}

/* line 60, ../sass/_base.scss */
h2 {
  color: #A8A8A8;
  font-size: 26px;
  line-height: 38px;
  font-weight: 300;
}
@media (max-width: 768px) {
  /* line 60, ../sass/_base.scss */
  h2 {
    font-size: 21px;
    line-height: 32px;
  }
}

/* line 72, ../sass/_base.scss */
h3 {
  color: #212121;
  font-family: "Hind", sans-serif;
  font-size: 28px;
  font-weight: 300;
  letter-spacing: .5px;
}
@media (max-width: 768px) {
  /* line 72, ../sass/_base.scss */
  h3 {
    font-size: 24px;
  }
}

/* line 84, ../sass/_base.scss */
h4 {
  color: #212121;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: .25px;
}

/* line 91, ../sass/_base.scss */
h5 {
  color: #A8A8A8;
  font-size: 16px;
  letter-spacing: .25px;
  font-weight: 300;
}

/* line 98, ../sass/_base.scss */
p {
  color: #898989;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: .5px;
}

/* line 105, ../sass/_base.scss */
a {
  text-decoration: none;
  -moz-transition-property: color, fill;
  -o-transition-property: color, fill;
  -webkit-transition-property: color, fill;
  transition-property: color, fill;
  -moz-transition-duration: 0.09s;
  -o-transition-duration: 0.09s;
  -webkit-transition-duration: 0.09s;
  transition-duration: 0.09s;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}
/* line 111, ../sass/_base.scss */
a:visted {
  color: inherit;
}

/* line 116, ../sass/_base.scss */
.inline-link {
  color: #44C5A2;
}
/* line 119, ../sass/_base.scss */
.inline-link:hover {
  color: #6bd1b5;
}

/* ---------------------------------------------------------------------
 Navigation Bar
 ------------------------------------------------------------------------ */
/* line 4, ../sass/_nav.scss */
nav {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
nav:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 8, ../sass/_nav.scss */
.nav-container {
  width: 96.875%;
  float: left;
  margin-left: 1.5625%;
  margin-right: 1.5625%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.75rem 0;
}

/* line 16, ../sass/_nav.scss */
.logo {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .125rem;
  color: #212121;
  align-self: flex-end;
}
@media (max-width: 768px) {
  /* line 16, ../sass/_nav.scss */
  .logo {
    font-size: 16px;
  }
}

/* line 30, ../sass/_nav.scss */
ul {
  display: flex;
}
/* line 33, ../sass/_nav.scss */
ul li {
  margin-right: 3rem;
}
/* line 36, ../sass/_nav.scss */
ul li:last-child {
  margin-right: 0;
}
/* line 40, ../sass/_nav.scss */
ul li a {
  color: #898989;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  vertical-align: text-bottom;
}
/* line 48, ../sass/_nav.scss */
ul li a:hover {
  color: #44C5A2;
}

/* ---------------------------------------------------------------------
 Footer
 ------------------------------------------------------------------------ */
/* line 4, ../sass/_footer.scss */
footer {
  background-color: #fff;
}

/* line 8, ../sass/_footer.scss */
.footer-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
.footer-container:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 12, ../sass/_footer.scss */
.footer-content {
  width: 96.875%;
  float: left;
  margin-left: 1.5625%;
  margin-right: 1.5625%;
  padding: 3rem 0 8rem 0;
}

/* line 17, ../sass/_footer.scss */
.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* line 23, ../sass/_footer.scss */
.footer-item {
  color: #A8A8A8;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
}
/* line 29, ../sass/_footer.scss */
.footer-item:last-child {
  margin-bottom: 0;
}

/* line 34, ../sass/_footer.scss */
.icon-wrapper {
  fill: #A8A8A8;
  margin-right: 24px;
  cursor: pointer;
}
/* line 39, ../sass/_footer.scss */
.icon-wrapper:last-child {
  margin-right: 0;
}
/* line 43, ../sass/_footer.scss */
.icon-wrapper:hover {
  fill: #44C5A2;
}

/* line 48, ../sass/_footer.scss */
.icon {
  height: 25px;
  width: 25px;
}

/* line 53, ../sass/_footer.scss */
.footer-border {
  border-top: 1px solid #E4E4E4;
}

/* ---------------------------------------------------------------------
 Footer (Small Breakpoint)
 ------------------------------------------------------------------------ */
@media (max-width: 768px) {
  /* line 63, ../sass/_footer.scss */
  .footer-wrapper {
    flex-direction: column-reverse;
  }

  /* line 67, ../sass/_footer.scss */
  .icons-container {
    margin-bottom: 16px;
  }
}
/* ---------------------------------------------------------------------
 Background (Currently not in use for minimal theme)
 ------------------------------------------------------------------------ */
/* .background {
 	position: absolute;
 	height: 100%;
 	width: 100%;
 	z-index: -1;
 }

 .home-background {
 	@include background-image(linear-gradient(165deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 30%, $background-color 30%, $background-color 100%));	
 }

  @media (max-width: $medium-break) {

 	.home-background {
 		@include background-image(linear-gradient(165deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 15%, $background-color 15%, $background-color 100%));	
 	}
 }

 .about-background {
 	@include background-image(linear-gradient(165deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 56%, $background-color 56%, $background-color 100%));	
 }

 .avant-background {
 	@include background-image(linear-gradient(165deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 45%, $background-color 45%, $background-color 100%));	
 }

 .jiang_china_design-background {
 	@include background-image(linear-gradient(165deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 12.5%, $background-color 12.5%, $background-color 100%));	
 }

 .listening_devices-background {
 	@include background-image(linear-gradient(165deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 30%, $background-color 30%, $background-color 100%));	
 }

 .morningstar-background {
 	@include background-image(linear-gradient(165deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 61%, $background-color 61%, $background-color 100%));	
 }

 .planet_finance_china-background {
 	@include background-image(linear-gradient(165deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 17%, $background-color 17%, $background-color 100%));	
 }

 .smart_air-background {
 	@include background-image(linear-gradient(165deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 38%, $background-color 38%, $background-color 100%));	
 }

 @media (max-width: $large-break) {
 	.about-background, .avant-background, .jiang_china_design-background, .listening_devices-background, .morningstar-background, .planet_finance_china-background, .smart_air-background {
 		display: none;
 	}
 }*/
/* ---------------------------------------------------------------------
 Page Container
 ------------------------------------------------------------------------ */
/* line 5, ../sass/_index.scss */
.project-content {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 88px 0 60px 0;
}
/* line 12, ../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
.project-content:after {
  content: " ";
  display: block;
  clear: both;
}

/* ---------------------------------------------------------------------
 Page Header
 ------------------------------------------------------------------------ */
/* line 14, ../sass/_index.scss */
.project-header {
  width: 100%;
  float: left;
  margin-bottom: 88px;
}

/* line 19, ../sass/_index.scss */
.site-title {
  width: 63.54167%;
  float: left;
  margin-left: 1.5625%;
  margin-right: 1.5625%;
  margin-bottom: 16px;
}

/* line 24, ../sass/_index.scss */
.site-byline {
  width: 63.54167%;
  float: left;
  margin-left: 1.5625%;
  margin-right: 1.5625%;
}

/* ---------------------------------------------------------------------
 Page Header (Small Breakpoint)
 ------------------------------------------------------------------------ */
@media (max-width: 768px) {
  /* line 34, ../sass/_index.scss */
  .project-content {
    padding: 32px 0 48px 0;
  }

  /* line 38, ../sass/_index.scss */
  .project-header {
    margin-bottom: 48px;
  }

  /* line 42, ../sass/_index.scss */
  .site-title,
  .site-byline {
    width: 96.875%;
    float: left;
    margin-left: 1.5625%;
    margin-right: 1.5625%;
  }
}
/* ---------------------------------------------------------------------
 Project Cards (Mobile-first)
 ------------------------------------------------------------------------ */
/* line 52, ../sass/_index.scss */
.project-card {
  /*Mobile-first Width*/
  width: 96.875%;
  float: left;
  margin-left: 1.5625%;
  margin-right: 1.5625%;
  margin-bottom: 24px;
  cursor: pointer;
}

/*AOS Animation Fade-up Override*/
/* line 60, ../sass/_index.scss */
.project-card[data-aos="fade-up"] {
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
}

/* line 64, ../sass/_index.scss */
.card-image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 230px;
}

/* line 71, ../sass/_index.scss */
.card-content {
  padding: 16px 0 16px 0;
}
/* line 74, ../sass/_index.scss */
.card-content h3 {
  margin-bottom: 2px;
}
/* line 78, ../sass/_index.scss */
.card-content .inline-link {
  margin-top: 10px;
}

/* line 83, ../sass/_index.scss */
.card-details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  align-items: baseline;
}

/* ---------------------------------------------------------------------
Project Cards (Medium Breakpoint)
------------------------------------------------------------------------ */
@media (min-width: 768px) {
  /* line 96, ../sass/_index.scss */
  .project-card {
    width: 46.875%;
    float: left;
    margin-left: 1.5625%;
    margin-right: 1.5625%;
    height: 408px;
    margin-bottom: 48px;
  }
  /* line 101, ../sass/_index.scss */
  .project-card:nth-child(1) {
    width: 96.875%;
    float: left;
    margin-left: 1.5625%;
    margin-right: 1.5625%;
  }
  /* line 105, ../sass/_index.scss */
  .project-card .card-image {
    height: 265px;
  }
  /* line 109, ../sass/_index.scss */
  .project-card .card-content {
    padding-bottom: 0px;
  }
}
/*One-off heigh adjustment for cards with long descriptions*/
@media (min-width: 768px) and (max-width: 1024px) {
  /* line 117, ../sass/_index.scss */
  .project-card:nth-child(4), .project-card:nth-child(5) {
    height: 426px;
  }
}
/* ---------------------------------------------------------------------
 Project Cards (Large Breakpoint)
 ------------------------------------------------------------------------ */
@media (min-width: 1024px) {
  /* line 128, ../sass/_index.scss */
  .project-card {
    width: 34.375%;
    float: left;
    margin-left: 1.5625%;
    margin-right: 1.5625%;
    margin-bottom: 56px;
  }
  /* line 132, ../sass/_index.scss */
  .project-card:nth-child(1) {
    width: 59.375%;
    float: left;
    margin-left: 1.5625%;
    margin-right: 1.5625%;
  }

  /* line 137, ../sass/_index.scss */
  .primary-card {
    width: 59.375%;
    float: left;
    margin-left: 1.5625%;
    margin-right: 1.5625%;
  }
}
/* ---------------------------------------------------------------------
 Page Container
 ------------------------------------------------------------------------ */
/* line 5, ../sass/_project.scss */
.project_content-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 64px 0 150px 0;
}
/* line 12, ../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
.project_content-container:after {
  content: " ";
  display: block;
  clear: both;
}
@media (max-width: 1024px) {
  /* line 5, ../sass/_project.scss */
  .project_content-container {
    padding: 32px 0 36px 0;
  }
}
@media (max-width: 768px) {
  /* line 5, ../sass/_project.scss */
  .project_content-container {
    padding: 24px 0 32px 0;
  }
}

/* ---------------------------------------------------------------------
 Breadcrumb
 ------------------------------------------------------------------------ */
/* line 22, ../sass/_project.scss */
.breadcrumb-container {
  width: 96.875%;
  float: left;
  margin-left: 1.5625%;
  margin-right: 1.5625%;
  display: flex;
  margin-bottom: 24px;
}
/* line 27, ../sass/_project.scss */
.breadcrumb-container a {
  color: #44C5A2;
}
/* line 30, ../sass/_project.scss */
.breadcrumb-container a:hover {
  color: #6bd1b5;
}
/* line 35, ../sass/_project.scss */
.breadcrumb-container .current-project {
  margin-left: 4px;
  color: #A8A8A8;
}

/*Hide at Small Breakpoint*/
@media (max-width: 1024px) {
  /* line 44, ../sass/_project.scss */
  .breadcrumb-container {
    display: none;
  }
}
/* ---------------------------------------------------------------------
 Images (Mobile-first)
 ------------------------------------------------------------------------ */
/* line 53, ../sass/_project.scss */
.project_image-container {
  /*Mobile-first Width*/
  width: 96.875%;
  float: left;
  margin-left: 1.5625%;
  margin-right: 1.5625%;
}
/* line 57, ../sass/_project.scss */
.project_image-container img {
  margin-bottom: 2.5rem;
  width: 100%;
}
/* line 61, ../sass/_project.scss */
.project_image-container img:last-child {
  margin-bottom: 0;
}

/*Shrink at Large Breakpoint*/
@media (min-width: 1024px) {
  /* line 70, ../sass/_project.scss */
  .project_image-container {
    width: 59.375%;
    float: left;
    margin-left: 1.5625%;
    margin-right: 1.5625%;
    /*AOS Animation Fade Override*/
  }
  /* line 74, ../sass/_project.scss */
  .project_image-container img[data-aos="fade"] {
    -moz-transition-property: all;
    -o-transition-property: all;
    -webkit-transition-property: all;
    transition-property: all;
  }
}
/* ---------------------------------------------------------------------
Project Description
------------------------------------------------------------------------ */
/* line 88, ../sass/_project.scss */
.description-container {
  width: 30.20833%;
  float: right;
  margin-left: 1.5625%;
  margin-right: 1.5625%;
  margin-bottom: 48px;
}

/* line 93, ../sass/_project.scss */
.project-title {
  margin-bottom: 2rem;
}

/* line 97, ../sass/_project.scss */
.project-description {
  display: flex;
  margin-bottom: 13px;
}
/* line 101, ../sass/_project.scss */
.project-description h4 {
  margin-right: 4px;
}

/*Adjust at Small Breakpoint*/
@media (max-width: 1024px) {
  /* line 110, ../sass/_project.scss */
  .description-container {
    width: 80.20833%;
    float: left;
    margin-left: 1.5625%;
    margin-right: 1.5625%;
  }
}
@media (max-width: 768px) {
  /* line 116, ../sass/_project.scss */
  .description-container {
    width: 96.875%;
    float: left;
    margin-left: 1.5625%;
    margin-right: 1.5625%;
  }
}
/* ---------------------------------------------------------------------
 Links Container
 ------------------------------------------------------------------------ */
/* line 125, ../sass/_project.scss */
.links-container {
  width: 30.20833%;
  float: right;
  margin-left: 1.5625%;
  margin-right: 1.5625%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*Widen at Small Breakpoint*/
@media (max-width: 1024px) {
  /* line 134, ../sass/_project.scss */
  .links-container {
    width: 96.875%;
    float: left;
    margin-left: 1.5625%;
    margin-right: 1.5625%;
    margin-top: 32px;
    justify-content: center;
  }
}
/* line 141, ../sass/_project.scss */
.single-link-container {
  display: flex;
}
/* line 145, ../sass/_project.scss */
.single-link-container:hover .project-link {
  color: #6bd1b5;
}
/* line 149, ../sass/_project.scss */
.single-link-container:hover .arrow {
  stroke: #6bd1b5;
}
@media (max-width: 1024px) {
  /* line 141, ../sass/_project.scss */
  .single-link-container {
    margin: 0 40px;
  }
}

/* line 159, ../sass/_project.scss */
.project-link {
  font-size: 16px;
  color: #44C5A2;
  -moz-transition-property: color, fill;
  -o-transition-property: color, fill;
  -webkit-transition-property: color, fill;
  transition-property: color, fill;
  -moz-transition-duration: 0.09s;
  -o-transition-duration: 0.09s;
  -webkit-transition-duration: 0.09s;
  transition-duration: 0.09s;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}
/* line 167, ../sass/_project.scss */
.project-link:nth-child(1) {
  margin-right: 6px;
}
/* line 171, ../sass/_project.scss */
.project-link:nth-child(2) {
  margin-left: 6px;
}

/* line 176, ../sass/_project.scss */
.arrow {
  stroke: #44C5A2;
  -moz-transition-property: color, fill;
  -o-transition-property: color, fill;
  -webkit-transition-property: color, fill;
  transition-property: color, fill;
  -moz-transition-duration: 0.09s;
  -o-transition-duration: 0.09s;
  -webkit-transition-duration: 0.09s;
  transition-duration: 0.09s;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}

/* ---------------------------------------------------------------------
 Page Container
 ------------------------------------------------------------------------ */
/* line 5, ../sass/_about.scss */
.about_page-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 32px 0 120px 0;
}
/* line 12, ../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
.about_page-container:after {
  content: " ";
  display: block;
  clear: both;
}
@media (max-width: 768px) {
  /* line 5, ../sass/_about.scss */
  .about_page-container {
    padding: 24px 0 32px 0;
  }
}

/* ---------------------------------------------------------------------
 Image Container
 ------------------------------------------------------------------------ */
/* line 18, ../sass/_about.scss */
.about_image-container {
  width: 42.70833%;
  float: right;
  margin-left: 1.5625%;
  margin-right: 1.5625%;
  margin-bottom: 40px;
}
/* line 22, ../sass/_about.scss */
.about_image-container img {
  width: 100%;
}

/*Full width at small breakpoint*/
@media (max-width: 768px) {
  /* line 30, ../sass/_about.scss */
  .about_image-container {
    width: 96.875%;
    float: left;
    margin-left: 1.5625%;
    margin-right: 1.5625%;
  }
}
/* ---------------------------------------------------------------------
 About Blurb
 ------------------------------------------------------------------------ */
/* line 39, ../sass/_about.scss */
.about-blurb {
  width: 42.70833%;
  float: left;
  margin-left: 1.5625%;
  margin-right: 1.5625%;
}
/* line 42, ../sass/_about.scss */
.about-blurb h3 {
  margin-bottom: 40px;
}
@media (max-width: 768px) {
  /* line 48, ../sass/_about.scss */
  .about-blurb h3 {
    margin-bottom: 16px;
  }
}

/* ---------------------------------------------------------------------
 About Blurb (Small, Medium Breakpoint)
 ------------------------------------------------------------------------ */
@media (max-width: 768px) {
  /* line 60, ../sass/_about.scss */
  .about-blurb {
    width: 96.875%;
    float: left;
    margin-left: 1.5625%;
    margin-right: 1.5625%;
  }
}
