/* ---------------------------------------------------------------------
 Imports
------------------------------------------------------------------------ */
@import url("https://fonts.googleapis.com/css?family=Hind:400,700|Montserrat:600|Open+Sans:300,400,700");
/* line 5, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* ---------------------------------------------------------------------
 Variables
 ------------------------------------------------------------------------ */
/* === Blue Theme === */
/*$primary: #4F5E66;
$secondary: #7893A1;
$tertiary: #9DA9B0;
$accent: #4BC180;
$link-hover: lighten( $accent, 10% );
$background-color: rgba(237, 241, 245, 1);*/
/* === Gray Theme === */
/* === SIZING === */
/* === MEDIA QUERIES === */
/* === FONTS === */
/* === SHADOWS === */
/* ---------------------------------------------------------------------
 Susy Grid Settings
 ------------------------------------------------------------------------ */
@media (max-width: 1024px) {
  /* line 12, ../sass/_base.scss */
  .buffer {
    margin-left: 12px !important;
    margin-right: 12px !important;
  }
}

/* ---------------------------------------------------------------------
 Base Styles
 ----------------------------------------------------f-------------------- */
/* line 23, ../sass/_base.scss */
* {
  /*border: 1px solid red !important;*/
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 28, ../sass/_base.scss */
html {
  font-size: 16px;
  /*REM OVERRIDES FOR SPACING*/
}
@media (max-width: 1024px) {
  /* line 28, ../sass/_base.scss */
  html {
    font-size: 13px;
  }
}
@media (max-width: 768px) {
  /* line 28, ../sass/_base.scss */
  html {
    font-size: 10px;
  }
}

/* line 41, ../sass/_base.scss */
body {
  font-family: "Open Sans", sans-serif;
  position: relative;
}

/* line 46, ../sass/_base.scss */
h1 {
  font-family: "Hind", sans-serif;
  color: #424242;
  font-size: 38px;
  line-height: 58px;
  font-weight: 300;
  letter-spacing: 1px;
}
@media (max-width: 768px) {
  /* line 46, ../sass/_base.scss */
  h1 {
    font-size: 26px;
    line-height: 42px;
  }
}

/* line 60, ../sass/_base.scss */
h2 {
  color: #A8A8A8;
  font-size: 26px;
  line-height: 38px;
  font-weight: 300;
}
@media (max-width: 768px) {
  /* line 60, ../sass/_base.scss */
  h2 {
    font-size: 21px;
    line-height: 32px;
  }
}

/* line 72, ../sass/_base.scss */
h3 {
  color: #424242;
  font-family: "Hind", sans-serif;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: .25px;
}
@media (max-width: 768px) {
  /* line 72, ../sass/_base.scss */
  h3 {
    font-size: 21px;
  }
}

/* line 84, ../sass/_base.scss */
h4 {
  color: #424242;
  font-size: 16px;
  font-weight: 700;
}
@media (max-width: 768px) {
  /* line 84, ../sass/_base.scss */
  h4 {
    font-size: 14px;
  }
}

/* line 94, ../sass/_base.scss */
h5 {
  color: #A8A8A8;
  font-size: 15px;
}
@media (max-width: 768px) {
  /* line 94, ../sass/_base.scss */
  h5 {
    font-size: 14px;
  }
}

/* line 103, ../sass/_base.scss */
p {
  color: #555;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: .25px;
}
@media (max-width: 768px) {
  /* line 103, ../sass/_base.scss */
  p {
    font-size: 15px;
  }
}

/* line 114, ../sass/_base.scss */
a {
  text-decoration: none;
  -moz-transition-property: color, fill;
  -o-transition-property: color, fill;
  -webkit-transition-property: color, fill;
  transition-property: color, fill;
  -moz-transition-duration: 0.09s;
  -o-transition-duration: 0.09s;
  -webkit-transition-duration: 0.09s;
  transition-duration: 0.09s;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}
/* line 120, ../sass/_base.scss */
a:visted {
  color: inherit;
}

/* ---------------------------------------------------------------------
 Navigation Bar
 ------------------------------------------------------------------------ */
/* line 4, ../sass/_nav.scss */
nav {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
nav:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 8, ../sass/_nav.scss */
.nav-container {
  width: 97.61905%;
  float: left;
  margin-left: 1.19048%;
  margin-right: 1.19048%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.75rem 0;
}

/* line 16, ../sass/_nav.scss */
.logo {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .125rem;
  color: #424242;
  align-self: flex-end;
}
@media (max-width: 768px) {
  /* line 16, ../sass/_nav.scss */
  .logo {
    font-size: 16px;
  }
}

/* line 30, ../sass/_nav.scss */
ul {
  display: flex;
}
/* line 33, ../sass/_nav.scss */
ul li {
  margin-right: 3rem;
}
/* line 36, ../sass/_nav.scss */
ul li:last-child {
  margin-right: 0;
}
/* line 40, ../sass/_nav.scss */
ul li a {
  color: #555;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  vertical-align: text-bottom;
}
/* line 48, ../sass/_nav.scss */
ul li a:hover {
  color: #44C5A2;
}

/* ---------------------------------------------------------------------
 Footer
 ------------------------------------------------------------------------ */
/* line 4, ../sass/_footer.scss */
footer {
  background-color: #fff;
}

/* line 8, ../sass/_footer.scss */
.footer-content {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
  padding: 3rem 0 8rem 0;
}
/* line 12, ../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
.footer-content:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 14, ../sass/_footer.scss */
.footer-wrapper {
  width: 97.61905%;
  float: left;
  margin-left: 1.19048%;
  margin-right: 1.19048%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* line 21, ../sass/_footer.scss */
.footer-item {
  color: #A8A8A8;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
}
/* line 27, ../sass/_footer.scss */
.footer-item:last-child {
  margin-bottom: 0;
}

/* line 32, ../sass/_footer.scss */
.icon-wrapper {
  fill: #A8A8A8;
  margin-right: 24px;
  cursor: pointer;
}
/* line 37, ../sass/_footer.scss */
.icon-wrapper:last-child {
  margin-right: 0;
}
/* line 41, ../sass/_footer.scss */
.icon-wrapper:hover {
  fill: #44C5A2;
}

/* line 46, ../sass/_footer.scss */
.icon {
  height: 25px;
  width: 25px;
}

/* ---------------------------------------------------------------------
 Footer (Small Breakpoint)
 ------------------------------------------------------------------------ */
@media (max-width: 768px) {
  /* line 57, ../sass/_footer.scss */
  .footer-wrapper {
    flex-direction: column-reverse;
  }

  /* line 61, ../sass/_footer.scss */
  .icons-container {
    margin-bottom: 16px;
  }
}
/* ---------------------------------------------------------------------
 Background
 ------------------------------------------------------------------------ */
/* line 5, ../sass/_background.scss */
.background {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
}

/* line 12, ../sass/_background.scss */
.home-background {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMzQxNTA2IiB5MT0iLTAuMDkxNTA2IiB4Mj0iMC42NTg0OTQiIHkyPSIxLjA5MTUwNiI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMzAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIi8+PHN0b3Agb2Zmc2V0PSIzMCUiIHN0b3AtY29sb3I9IiNmMmYyZjIiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMmYyZjIiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -moz-linear-gradient(285deg, #ffffff 0%, #ffffff 30%, #f2f2f2 30%, #f2f2f2 100%);
  background-image: -webkit-linear-gradient(285deg, #ffffff 0%, #ffffff 30%, #f2f2f2 30%, #f2f2f2 100%);
  background-image: linear-gradient(165deg, #ffffff 0%, #ffffff 30%, #f2f2f2 30%, #f2f2f2 100%);
}

/* line 16, ../sass/_background.scss */
.avant-background {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMzQxNTA2IiB5MT0iLTAuMDkxNTA2IiB4Mj0iMC42NTg0OTQiIHkyPSIxLjA5MTUwNiI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iNDUlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIi8+PHN0b3Agb2Zmc2V0PSI0NSUiIHN0b3AtY29sb3I9IiNmMmYyZjIiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMmYyZjIiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -moz-linear-gradient(285deg, #ffffff 0%, #ffffff 45%, #f2f2f2 45%, #f2f2f2 100%);
  background-image: -webkit-linear-gradient(285deg, #ffffff 0%, #ffffff 45%, #f2f2f2 45%, #f2f2f2 100%);
  background-image: linear-gradient(165deg, #ffffff 0%, #ffffff 45%, #f2f2f2 45%, #f2f2f2 100%);
}

/* line 20, ../sass/_background.scss */
.jiang_china_design-background {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMzQxNTA2IiB5MT0iLTAuMDkxNTA2IiB4Mj0iMC42NTg0OTQiIHkyPSIxLjA5MTUwNiI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMzQlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIi8+PHN0b3Agb2Zmc2V0PSIzNCUiIHN0b3AtY29sb3I9IiNmMmYyZjIiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMmYyZjIiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -moz-linear-gradient(285deg, #ffffff 0%, #ffffff 34%, #f2f2f2 34%, #f2f2f2 100%);
  background-image: -webkit-linear-gradient(285deg, #ffffff 0%, #ffffff 34%, #f2f2f2 34%, #f2f2f2 100%);
  background-image: linear-gradient(165deg, #ffffff 0%, #ffffff 34%, #f2f2f2 34%, #f2f2f2 100%);
}

/* line 24, ../sass/_background.scss */
.listening_devices-background {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMzQxNTA2IiB5MT0iLTAuMDkxNTA2IiB4Mj0iMC42NTg0OTQiIHkyPSIxLjA5MTUwNiI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMzAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIi8+PHN0b3Agb2Zmc2V0PSIzMCUiIHN0b3AtY29sb3I9IiNmMmYyZjIiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMmYyZjIiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -moz-linear-gradient(285deg, #ffffff 0%, #ffffff 30%, #f2f2f2 30%, #f2f2f2 100%);
  background-image: -webkit-linear-gradient(285deg, #ffffff 0%, #ffffff 30%, #f2f2f2 30%, #f2f2f2 100%);
  background-image: linear-gradient(165deg, #ffffff 0%, #ffffff 30%, #f2f2f2 30%, #f2f2f2 100%);
}

/* line 28, ../sass/_background.scss */
.morningstar-background {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMzQxNTA2IiB5MT0iLTAuMDkxNTA2IiB4Mj0iMC42NTg0OTQiIHkyPSIxLjA5MTUwNiI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iNjElIiBzdG9wLWNvbG9yPSIjZmZmZmZmIi8+PHN0b3Agb2Zmc2V0PSI2MSUiIHN0b3AtY29sb3I9IiNmMmYyZjIiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMmYyZjIiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -moz-linear-gradient(285deg, #ffffff 0%, #ffffff 61%, #f2f2f2 61%, #f2f2f2 100%);
  background-image: -webkit-linear-gradient(285deg, #ffffff 0%, #ffffff 61%, #f2f2f2 61%, #f2f2f2 100%);
  background-image: linear-gradient(165deg, #ffffff 0%, #ffffff 61%, #f2f2f2 61%, #f2f2f2 100%);
}

/* line 32, ../sass/_background.scss */
.planet_finance_china-background {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMzQxNTA2IiB5MT0iLTAuMDkxNTA2IiB4Mj0iMC42NTg0OTQiIHkyPSIxLjA5MTUwNiI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iNDYlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIi8+PHN0b3Agb2Zmc2V0PSI0NiUiIHN0b3AtY29sb3I9IiNmMmYyZjIiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMmYyZjIiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -moz-linear-gradient(285deg, #ffffff 0%, #ffffff 46%, #f2f2f2 46%, #f2f2f2 100%);
  background-image: -webkit-linear-gradient(285deg, #ffffff 0%, #ffffff 46%, #f2f2f2 46%, #f2f2f2 100%);
  background-image: linear-gradient(165deg, #ffffff 0%, #ffffff 46%, #f2f2f2 46%, #f2f2f2 100%);
}

/* line 36, ../sass/_background.scss */
.smart_air-background {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMzQxNTA2IiB5MT0iLTAuMDkxNTA2IiB4Mj0iMC42NTg0OTQiIHkyPSIxLjA5MTUwNiI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMzAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIi8+PHN0b3Agb2Zmc2V0PSIzMCUiIHN0b3AtY29sb3I9IiNmMmYyZjIiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMmYyZjIiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -moz-linear-gradient(285deg, #ffffff 0%, #ffffff 30%, #f2f2f2 30%, #f2f2f2 100%);
  background-image: -webkit-linear-gradient(285deg, #ffffff 0%, #ffffff 30%, #f2f2f2 30%, #f2f2f2 100%);
  background-image: linear-gradient(165deg, #ffffff 0%, #ffffff 30%, #f2f2f2 30%, #f2f2f2 100%);
}

@media (max-width: 768px) {
  /* line 42, ../sass/_background.scss */
  .home-background {
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMzQxNTA2IiB5MT0iLTAuMDkxNTA2IiB4Mj0iMC42NTg0OTQiIHkyPSIxLjA5MTUwNiI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTUlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIi8+PHN0b3Agb2Zmc2V0PSIxNSUiIHN0b3AtY29sb3I9IiNmMmYyZjIiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMmYyZjIiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
    background-size: 100%;
    background-image: -moz-linear-gradient(285deg, #ffffff 0%, #ffffff 15%, #f2f2f2 15%, #f2f2f2 100%);
    background-image: -webkit-linear-gradient(285deg, #ffffff 0%, #ffffff 15%, #f2f2f2 15%, #f2f2f2 100%);
    background-image: linear-gradient(165deg, #ffffff 0%, #ffffff 15%, #f2f2f2 15%, #f2f2f2 100%);
  }
}
/* ---------------------------------------------------------------------
 Page Container
 ------------------------------------------------------------------------ */
/* line 5, ../sass/_index.scss */
.project-content {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 88px 0 60px 0;
}
/* line 12, ../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
.project-content:after {
  content: " ";
  display: block;
  clear: both;
}

/* ---------------------------------------------------------------------
 Page Header
 ------------------------------------------------------------------------ */
/* line 14, ../sass/_index.scss */
.project-header {
  width: 100%;
  float: left;
  margin-bottom: 88px;
}

/* line 19, ../sass/_index.scss */
.site-title {
  width: 64.28571%;
  float: left;
  margin-left: 1.19048%;
  margin-right: 1.19048%;
  margin-bottom: 16px;
}

/* line 24, ../sass/_index.scss */
.site-byline {
  width: 64.28571%;
  float: left;
  margin-left: 1.19048%;
  margin-right: 1.19048%;
}

/* ---------------------------------------------------------------------
 Page Header (Small Breakpoint)
 ------------------------------------------------------------------------ */
@media (max-width: 768px) {
  /* line 34, ../sass/_index.scss */
  .project-content {
    padding: 32px 0 48px 0;
  }

  /* line 38, ../sass/_index.scss */
  .project-header {
    margin-bottom: 48px;
  }

  /* line 42, ../sass/_index.scss */
  .site-title,
  .site-byline {
    width: 97.61905%;
    float: left;
    margin-left: 1.19048%;
    margin-right: 1.19048%;
  }
}
/* ---------------------------------------------------------------------
 Project Cards (Mobile-first)
 ------------------------------------------------------------------------ */
/* line 52, ../sass/_index.scss */
.project-card {
  /*Mobile-first Width*/
  width: 97.61905%;
  float: left;
  margin-left: 1.19048%;
  margin-right: 1.19048%;
  margin-bottom: 24px;
  /*General styles*/
  -moz-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  -moz-transition-property: box-shadow;
  -o-transition-property: box-shadow;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  cursor: pointer;
  background-color: #fff;
}
/* line 65, ../sass/_index.scss */
.project-card:hover {
  -moz-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

/* line 70, ../sass/_index.scss */
.card-image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 200px;
}

/* line 77, ../sass/_index.scss */
.card-content {
  padding: 16px 1.5rem 18px 1.5rem;
}
/* line 80, ../sass/_index.scss */
.card-content h3 {
  margin-bottom: 4px;
}

/* line 85, ../sass/_index.scss */
.card-details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  align-items: baseline;
}

/* ---------------------------------------------------------------------
Project Cards (Medium Breakpoint)
------------------------------------------------------------------------ */
@media (min-width: 768px) {
  /* line 98, ../sass/_index.scss */
  .project-card {
    width: 47.61905%;
    float: left;
    margin-left: 1.19048%;
    margin-right: 1.19048%;
    height: 408px;
  }
  /* line 102, ../sass/_index.scss */
  .project-card:nth-child(1) {
    width: 97.61905%;
    float: left;
    margin-left: 1.19048%;
    margin-right: 1.19048%;
  }
  /* line 106, ../sass/_index.scss */
  .project-card .card-image {
    height: 265px;
  }
  /* line 110, ../sass/_index.scss */
  .project-card .card-content {
    padding-bottom: 0px;
  }
}
/*One-off heigh adjustment for cards with long descriptions*/
@media (min-width: 768px) and (max-width: 1024px) {
  /* line 118, ../sass/_index.scss */
  .project-card:nth-child(4), .project-card:nth-child(5) {
    height: 426px;
  }
}
/* ---------------------------------------------------------------------
 Project Cards (Large Breakpoint)
 ------------------------------------------------------------------------ */
@media (min-width: 1024px) {
  /* line 129, ../sass/_index.scss */
  .project-card {
    width: 33.03571%;
    float: left;
    margin-left: 1.19048%;
    margin-right: 1.19048%;
    margin-bottom: 40px;
  }
  /* line 133, ../sass/_index.scss */
  .project-card:nth-child(1) {
    width: 62.20238%;
    float: left;
    margin-left: 1.19048%;
    margin-right: 1.19048%;
  }

  /* line 138, ../sass/_index.scss */
  .primary-card {
    width: 62.20238%;
    float: left;
    margin-left: 1.19048%;
    margin-right: 1.19048%;
  }
}
/* ---------------------------------------------------------------------
 Page Container
 ------------------------------------------------------------------------ */
/* line 5, ../sass/_project.scss */
.project_content-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 64px 0 150px 0;
}
/* line 12, ../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
.project_content-container:after {
  content: " ";
  display: block;
  clear: both;
}
@media (max-width: 1024px) {
  /* line 5, ../sass/_project.scss */
  .project_content-container {
    padding: 32px 0 75px 0;
  }
}
@media (max-width: 768px) {
  /* line 5, ../sass/_project.scss */
  .project_content-container {
    padding: 24px 0 40px 0;
  }
}

/* ---------------------------------------------------------------------
 Breadcrumb
 ------------------------------------------------------------------------ */
/* line 22, ../sass/_project.scss */
.breadcrumb-container {
  width: 97.61905%;
  float: left;
  margin-left: 1.19048%;
  margin-right: 1.19048%;
  display: flex;
  margin-bottom: 24px;
}
/* line 27, ../sass/_project.scss */
.breadcrumb-container a {
  color: #44C5A2;
}
/* line 30, ../sass/_project.scss */
.breadcrumb-container a:hover {
  color: #6bd1b5;
}
/* line 35, ../sass/_project.scss */
.breadcrumb-container .current-project {
  margin-left: 4px;
  color: #A8A8A8;
}

/*Hide at Small Breakpoint*/
@media (max-width: 1024px) {
  /* line 44, ../sass/_project.scss */
  .breadcrumb-container {
    display: none;
  }
}
/* ---------------------------------------------------------------------
 Images (Mobile-first)
 ------------------------------------------------------------------------ */
/* line 53, ../sass/_project.scss */
.project_image-container {
  /*Mobile-first Width*/
  width: 97.61905%;
  float: left;
  margin-left: 1.19048%;
  margin-right: 1.19048%;
}
/* line 57, ../sass/_project.scss */
.project_image-container img {
  margin-bottom: 2.5rem;
  width: 100%;
}
/* line 61, ../sass/_project.scss */
.project_image-container img:last-child {
  margin-bottom: 0;
}

/*Shrink at Large Breakpoint*/
@media (min-width: 1024px) {
  /* line 70, ../sass/_project.scss */
  .project_image-container {
    width: 60.11905%;
    float: left;
    margin-left: 1.19048%;
    margin-right: 1.19048%;
  }
}
/* ---------------------------------------------------------------------
Project Description
------------------------------------------------------------------------ */
/* line 80, ../sass/_project.scss */
.description-container {
  width: 30.95238%;
  float: right;
  margin-left: 1.19048%;
  margin-right: 1.19048%;
  margin-bottom: 24px;
}

/* line 85, ../sass/_project.scss */
.project-description {
  margin-bottom: 4px;
}

/* line 89, ../sass/_project.scss */
.project-title {
  margin-bottom: 40px;
}

/*Adjust at Small Breakpoint*/
@media (max-width: 1024px) {
  /* line 97, ../sass/_project.scss */
  .description-container {
    width: 80.95238%;
    float: left;
    margin-left: 1.19048%;
    margin-right: 1.19048%;
  }

  /* line 101, ../sass/_project.scss */
  .project-title {
    margin-bottom: 16px;
  }
}
@media (max-width: 768px) {
  /* line 107, ../sass/_project.scss */
  .description-container {
    width: 97.61905%;
    float: left;
    margin-left: 1.19048%;
    margin-right: 1.19048%;
  }
}
/* ---------------------------------------------------------------------
 Links Container
 ------------------------------------------------------------------------ */
/* line 116, ../sass/_project.scss */
.links-container {
  width: 30.95238%;
  float: right;
  margin-left: 1.19048%;
  margin-right: 1.19048%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*Widen at Small Breakpoint*/
@media (max-width: 1024px) {
  /* line 125, ../sass/_project.scss */
  .links-container {
    width: 97.61905%;
    float: left;
    margin-left: 1.19048%;
    margin-right: 1.19048%;
    margin-top: 24px;
    justify-content: center;
  }
}
/* line 132, ../sass/_project.scss */
.single-link-container {
  display: flex;
}
/* line 136, ../sass/_project.scss */
.single-link-container:hover .project-link {
  color: #6bd1b5;
}
/* line 140, ../sass/_project.scss */
.single-link-container:hover .arrow {
  stroke: #6bd1b5;
}
@media (max-width: 1024px) {
  /* line 132, ../sass/_project.scss */
  .single-link-container {
    margin: 0 40px;
  }
}

/* line 150, ../sass/_project.scss */
.project-link {
  font-size: 16px;
  color: #44C5A2;
  -moz-transition-property: color, fill;
  -o-transition-property: color, fill;
  -webkit-transition-property: color, fill;
  transition-property: color, fill;
  -moz-transition-duration: 0.09s;
  -o-transition-duration: 0.09s;
  -webkit-transition-duration: 0.09s;
  transition-duration: 0.09s;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}
/* line 158, ../sass/_project.scss */
.project-link:nth-child(1) {
  margin-right: 6px;
}
/* line 162, ../sass/_project.scss */
.project-link:nth-child(2) {
  margin-left: 6px;
}

/* line 167, ../sass/_project.scss */
.arrow {
  stroke: #44C5A2;
  -moz-transition-property: color, fill;
  -o-transition-property: color, fill;
  -webkit-transition-property: color, fill;
  transition-property: color, fill;
  -moz-transition-duration: 0.09s;
  -o-transition-duration: 0.09s;
  -webkit-transition-duration: 0.09s;
  transition-duration: 0.09s;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}

/* ---------------------------------------------------------------------
 Page Container
 ------------------------------------------------------------------------ */
/* line 5, ../sass/_about.scss */
.about_page-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 32px 0 75px 0;
}
/* line 12, ../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
.about_page-container:after {
  content: " ";
  display: block;
  clear: both;
}
@media (max-width: 768px) {
  /* line 5, ../sass/_about.scss */
  .about_page-container {
    padding: 24px 0 32px 0;
  }
}

/* ---------------------------------------------------------------------
 Image Container
 ------------------------------------------------------------------------ */
/* line 18, ../sass/_about.scss */
.about_image-container {
  width: 47.61905%;
  float: right;
  margin-left: 1.19048%;
  margin-right: 1.19048%;
  margin-bottom: 40px;
}
/* line 22, ../sass/_about.scss */
.about_image-container img {
  width: 100%;
}

/*Full width at small breakpoint*/
@media (max-width: 768px) {
  /* line 30, ../sass/_about.scss */
  .about_image-container {
    width: 97.61905%;
    float: left;
    margin-left: 1.19048%;
    margin-right: 1.19048%;
  }
}
/* ---------------------------------------------------------------------
 About Blurb
 ------------------------------------------------------------------------ */
/* line 39, ../sass/_about.scss */
.about-blurb {
  width: 39.28571%;
  float: left;
  margin-left: 1.19048%;
  margin-right: 1.19048%;
}
/* line 42, ../sass/_about.scss */
.about-blurb h3 {
  margin-bottom: 40px;
}
@media (max-width: 768px) {
  /* line 48, ../sass/_about.scss */
  .about-blurb h3 {
    margin-bottom: 16px;
  }
}

/* line 54, ../sass/_about.scss */
.about-link {
  color: #44C5A2;
  font-weight: 600;
}
/* line 58, ../sass/_about.scss */
.about-link:hover {
  color: #6bd1b5;
}

/* ---------------------------------------------------------------------
 About Blurb (Small, Medium Breakpoint)
 ------------------------------------------------------------------------ */
@media (max-width: 768px) {
  /* line 68, ../sass/_about.scss */
  .about-blurb {
    width: 97.61905%;
    float: left;
    margin-left: 1.19048%;
    margin-right: 1.19048%;
  }
}
