/* ---------------------------------------------------------------------
 Page Container
 ------------------------------------------------------------------------ */

 .about_page-container {
 	@include container($max-width);
 	padding: 32px 0 75px 0;

 	@media (max-width: $medium-break) {
 		padding: 24px 0 32px 0;
 	}
 }

/* ---------------------------------------------------------------------
 Image Container
 ------------------------------------------------------------------------ */

 .about_image-container {
 	@include span(6 last);
 	margin-bottom: 40px;

 	img {
 		width: 100%;
 	}
 }

 /*Full width at small breakpoint*/

 @media (max-width: $medium-break) {
 	.about_image-container {
 		@include span(12);
 	}
 }

/* ---------------------------------------------------------------------
 About Blurb
 ------------------------------------------------------------------------ */

 .about-blurb {
 	@include span(5);

 	h3 {
 		margin-bottom: 40px;
 	}


 	@media (max-width: $medium-break) {
 		h3 {
 			margin-bottom: 16px; 	
 		}
 	}
 }


/* ---------------------------------------------------------------------
 About Blurb (Small, Medium Breakpoint)
 ------------------------------------------------------------------------ */

 @media (max-width: $medium-break) {
 	.about-blurb {
 		@include span(12);
 	}
 }

