/* ---------------------------------------------------------------------
 Page Container
 ------------------------------------------------------------------------ */

 .about_page-container {
 	@include container($max-width);
 	padding: 4rem 0 9.375rem 0;

 }

/* ---------------------------------------------------------------------
 Image Container
 ------------------------------------------------------------------------ */

 .about_image-container {
 	@include span(6 last);
 	overflow: hidden;
 	margin-bottom: 40px;
 }

/* ---------------------------------------------------------------------
 Image Container (Small, Medium Breakpoint)
 ------------------------------------------------------------------------ */

 @media (max-width: $medium-break) {
 	.about_image-container {
 		@include span(12);
 	}
 }

/* ---------------------------------------------------------------------
 About Blurb
 ------------------------------------------------------------------------ */

 .about-blurb {
 	@include span(5);

 	p {
 		margin-top: 4rem;
 	}
 }

/* ---------------------------------------------------------------------
 About Blurb (Small, Medium Breakpoint)
 ------------------------------------------------------------------------ */

 @media (max-width: $medium-break) {
 	.about-blurb {
 		@include span(12);
 	}
 }

