/* ---------------------------------------------------------------------
 Background (Currently not in use for minimal theme)
 ------------------------------------------------------------------------ */

/* .background {
 	position: absolute;
 	height: 100%;
 	width: 100%;
 	z-index: -1;
 }

 .home-background {
 	@include background-image(linear-gradient(165deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 30%, $background-color 30%, $background-color 100%));	
 }

  @media (max-width: $medium-break) {

 	.home-background {
 		@include background-image(linear-gradient(165deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 15%, $background-color 15%, $background-color 100%));	
 	}
 }

 .about-background {
 	@include background-image(linear-gradient(165deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 56%, $background-color 56%, $background-color 100%));	
 }

 .avant-background {
 	@include background-image(linear-gradient(165deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 45%, $background-color 45%, $background-color 100%));	
 }

 .jiang_china_design-background {
 	@include background-image(linear-gradient(165deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 12.5%, $background-color 12.5%, $background-color 100%));	
 }

 .listening_devices-background {
 	@include background-image(linear-gradient(165deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 30%, $background-color 30%, $background-color 100%));	
 }

 .morningstar-background {
 	@include background-image(linear-gradient(165deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 61%, $background-color 61%, $background-color 100%));	
 }

 .planet_finance_china-background {
 	@include background-image(linear-gradient(165deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 17%, $background-color 17%, $background-color 100%));	
 }

 .smart_air-background {
 	@include background-image(linear-gradient(165deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 38%, $background-color 38%, $background-color 100%));	
 }

 @media (max-width: $large-break) {
 	.about-background, .avant-background, .jiang_china_design-background, .listening_devices-background, .morningstar-background, .planet_finance_china-background, .smart_air-background {
 		display: none;
 	}
 }*/