/* ---------------------------------------------------------------------
 Background
 ------------------------------------------------------------------------ */

 .background {
 	position: absolute;
 	height: 100%;
 	width: 100%;
 	z-index: -1;
 }

 .index-background {
 	@include background-image(linear-gradient(165deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 30%, $background-color 30%, $background-color 100%));	
 }

 .project-background {
 	@include background-image(linear-gradient(165deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 30%, $background-color 30%, $background-color 100%));	
 }