/* ---------------------------------------------------------------------
 Susy Grid Settings
 ------------------------------------------------------------------------ */

$susy: (
	columns: 12,
	gutters: .4,
	gutter-position: split,
	/*debug: (image: show)*/
	);

.buffer {
	@media (max-width: $large-break) {
	margin-left: 16px !important;
	margin-right: 16px !important;	
	}
}

/* ---------------------------------------------------------------------
 Base Styles
 ----------------------------------------------------f-------------------- */

* {
	border: 1px solid red !important;
	@include box-sizing(border-box);
}

html {
	font-size: 16px;

	/*REM OVERRIDES*/
	@media (max-width: $large-break) {
		font-size: 13px;
	}

	@media (max-width: $medium-break) {
		font-size: 10px;
	}
}

body {
	font-family: $body-font;
	position: relative;
}

h1 {
	font-family: $headline-font;
	color: $primary;
}

h2 {
	color: $tertiary;
}

h3 {
	color: $primary;
	font-size: 24px;
	/*text-transform: uppercase;*/
	font-weight: 600;
	letter-spacing: .25px;
}

h4 {
	color: $tertiary;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

p {
	color: $secondary;
	font-size: 16px;
	line-height: 21px;
	letter-spacing: .25px;
}

a {
	text-decoration: none;
	@include transition-property(color, fill);
	@include transition-duration(.09s);
	@include transition-timing-function(ease-in);

	&:visted {
		color: inherit;
	}
}
