/* ---------------------------------------------------------------------
 Footer
 ------------------------------------------------------------------------ */
 
 footer {
 	background-color: #fff;
 }

 .footer-container {
 	@include container($max-width);
 }

 .footer-content {
 	@include span(12);
 	padding: 2.5rem 0 8rem 0;
 }

 .footer-wrapper {
 	display: flex;
 	justify-content: space-between;
 	align-items: center;
 }

 .footer-item {
 	color: $tertiary;
 	font-family: $body-font;
 	font-size: 14px;
 	letter-spacing: 1px;
 	
 	&:last-child {
 		margin-bottom: 0;
 	}
 }

 .icon-wrapper {
 	fill: $tertiary;
 	margin-right: 24px;
 	cursor: pointer;

 	&:last-child {
 		margin-right: 0;
 	}

 	&:hover {
 		fill: $accent;
 	}
 }

 .icon {
 	height: 25px;
 	width: 25px;
 }

 .footer-border {
 	border-top: 1px solid #E4E4E4;
 }


/* ---------------------------------------------------------------------
 Footer (Small Breakpoint)
 ------------------------------------------------------------------------ */

 @media (max-width: $medium-break) {

 	.footer-wrapper {
 		flex-direction: column-reverse;
 	}

 	.icons-container {
 		margin-bottom: 16px;
 	} 	

 }

