/* ---------------------------------------------------------------------
 Page Container
 ------------------------------------------------------------------------ */

 .project-content {
 	@include container($max-width);
 	padding: 88px 0 60px 0;
 }

/* ---------------------------------------------------------------------
 Page Header
 ------------------------------------------------------------------------ */

 .project-header {
 	@include span(12 nest);
 	margin-bottom: 88px;
 }	

 .site-title {
 	@include span(8);	
 	margin-bottom: 16px;
 }

 .site-byline {
 	@include span(8);
 }

/* ---------------------------------------------------------------------
 Page Header (Small Breakpoint)
 ------------------------------------------------------------------------ */

 @media (max-width: $medium-break) {

 	.project-content {
 		padding: 32px 0 48px 0;
 	}

 	.project-header {
 		margin-bottom: 48px;
 	}

 	.site-title,
 	.site-byline, {
 		@include span(12);
 	}
 }

/* ---------------------------------------------------------------------
 Project Cards (Mobile-first)
 ------------------------------------------------------------------------ */

 .project-card {
 	/*Mobile-first Width*/
 	@include span(12);
 	margin-bottom: 24px;	

 	/*General styles*/
 	@include box-shadow($card-shadow);
 	@include transition-property(box-shadow);
 	@include transition-duration(.2s);
 	@include transition-timing-function(ease-in);
 	cursor: pointer;
 	background-color: #fff;

 	&:hover {
 		@include box-shadow($hover-shadow);
 	}
 }	

 .card-image {
 	background-repeat: no-repeat;
 	background-position: center;
 	background-size: cover;
 	height: 200px;
 }

 .card-content {
 	padding: 16px 1.5rem 18px 1.5rem;

 	h3 {
 		margin-bottom: 4px;
 	}
 }

 .card-details {
 	display: flex;
 	justify-content: space-between;
 	margin-bottom: 16px;
 	align-items: baseline;
 }

 /* ---------------------------------------------------------------------
 Project Cards (Medium Breakpoint)
 ------------------------------------------------------------------------ */

 @media (min-width: $medium-break) {

 	.project-card {
 		@include span(6);
 		height: 408px;

 		&:nth-child(1) {
 			@include span(12);
 		}

 		.card-image {
 			height: 265px;
 		}

 		.card-content {
 			padding-bottom: 0px;
 		}
 	}
 }

 /*One-off heigh adjustment for cards with long descriptions*/ 
 @media (min-width: $medium-break) and (max-width: $large-break) {
 	.project-card:nth-child(4), .project-card:nth-child(5) {
 		height: 426px;
 	}
 }

/* ---------------------------------------------------------------------
 Project Cards (Large Breakpoint)
 ------------------------------------------------------------------------ */

 @media (min-width: $large-break) {

 	.project-card {
 		@include span(4.25);
 		margin-bottom: 40px;

 		&:nth-child(1) {
 			@include span(7.75);
 		}
 	}

 	.primary-card {
 		@include span(7.75);
 	}
 }

