/*Hompage Project Grid*/
$susy: (
	columns: 12,
	gutters: .30,
	gutter-position: split,
	/*debug: (image: show)*/
	);

.project-content {
	@include container($max-width);
	margin-bottom: 6rem;

	.project-header {
		@include span(12 nest);

		.site-title,
		.site-byline, {
			@include span(12);

			@media (min-width: $medium-break) {
				@include span(8);
			}
		}
	}

	.project-card {
			@include span(12);
			margin-bottom: gutter() * 5;

			@media (min-width: $medium-break) {
				@include span(6);
				&:nth-child(10n+1) {
					@include span(12);
				}
			}

			@media (min-width: $large-break) {
				@include span(4);
				margin-bottom: gutter() * 3;

				&:nth-child(10n+1),
				&:nth-child(10n+4),
				&:nth-child(10n+5), {
					@include span(8);
				}
			}
		}	
}

/*Project Page*/ 
$project: (
	columns: 12,
	gutters: .70,
	gutter-position: split,
	/*debug: (image: show)*/
	);

@include with-layout($project) {
	.project-content-container {

		@include container($max-width);

		.breadcrumb-container {
			@include span(12);
		}

		.image-container {
			@include span(8);
			@media (max-width: $medium-break) {
				@include span(12);
			}
		}

		.description-container {
			@include span(4 last);
			@media (max-width: $medium-break) {
				@include span(12);
			} 
		} 	
	}
}