/* === TOP NAV === */
nav {
	@include container ($max-width);

	.nav-container {
		@include span(12);
		display: flex;
		justify-content: space-between;
		padding: 52px 0;

		ul {
			display: flex;

			li {
				margin-right: 48px;
				text-transform: uppercase;
				letter-spacing: 1px;

				a {

					color: $secondary;

					&:hover {
						color: $accent;
					}

				}

				&:last-child {
					margin-right: 0;
				}
			}

		}
	}
}


/* === FOOTER === */
footer {
	background-color: #fff;

	.footer-content {
		@include container($max-width);
		padding: 64px 0 128px 0;
		margin: 0 auto;

		.footer-wrapper {
			display: block;

			.footer-item {
				margin-bottom: 16px;
				&:last-child {
					margin-bottom: 0;
				}
			}

			@media (min-width: $medium-break) {
				@include span(12);
				display: flex;
				justify-content: space-between;

				.footer-item {
					margin-bottom: 0;
				}

				.contact-container {
					display: flex;

					.email {
						margin-right: 48px;
					} 	
				}
			}
		}
	}
}

/* === BACKGROUNDs === */
body {
	position: relative;
}

.background {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: -1;
}

.index-background {
	@include background-image(linear-gradient(165deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 30%, $background-color 30%, $background-color 100%));	
}

.project-background {
	@include background-image(linear-gradient(265deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 30%, $background-color 30%, $background-color 100%));	
}
	/*{% if page.layout == 'default' %}*/
	/*{% else %}*/
	/*.background {
	@include background-image(linear-gradient(265deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 30%, $background-color 30%, $background-color 100%));	
	}*/
	/*{% endif %}*/

/* === SITE HEADER === */
.project-header {
	margin: 135px 0;
	
	.site-title {
		margin-bottom: 52px;
	}
}

/* === PROJECT CARDS === */
.project-card {
	cursor: pointer;
	background-color: #fff;
	@include box-shadow($card-shadow);
	@include transition-property(box-shadow);
	@include transition-duration(.2s);
	@include transition-timing-function(ease-in);
	&:hover {
		@include box-shadow($hover-shadow);
	}
	@media (min-width: $large-break) {
		height: $card-height;
	}

	.card-image {
		height: $card-image-height;

		/*{% for projects in site.pages %}
        {% if projects.layout == 'project' %}
        @include background-image(url("{{ project.image }}"));
        {% endif %}
        {% endfor %}*/
        /*@include background-image(url("../img/placeholder.jpg"));*/
        background-repeat: no-repeat;	
    }

    .card-content {
    	padding: 16px 24px 16px 24px;

    	h4 {
    		margin-bottom: 4px;
    	}

    	h3 {
    		margin-bottom: 8px;
    	}

    	@media (min-width: $large-break) {
    		height: $card-height - $card-image-height;
    	}
    }
}

/* === BREADCRUMB === */
.breadcrumb-container {
	display: flex;
	margin-bottom: 24px;

	a {
		color: $accent;

		&:hover {
			color: darken( $accent, 10% );
		}

		&:visted {
			color: inherit;
		}
	}

	.current-project {
		margin-left: 4px;
	}
}






