/* ---------------------------------------------------------------------
 Navigation Bar
 ------------------------------------------------------------------------ */
 nav {
 	@include container ($max-width);
 }

 .nav-container {
 	@include span(12);
 	display: flex;
 	justify-content: space-between;
 	align-items: center;
 	padding: 2.75rem 0;
 }

 .logo {
 	font-family: $logo-font;
 	font-size: 18px;
 	font-weight: 600;
 	text-transform: uppercase;
 	letter-spacing: .125rem;
 	color: $primary;
 	align-self: flex-end;

 	@media (max-width: $medium-break) {
 		font-size: 16px;
	}
 }

 ul {
 	display: flex;

 	li {
 		margin-right: 3rem;

 		&:last-child {
 			margin-right: 0;
 		}

 		a {
 			color: $secondary;
 			font-family: $body-font;
 			font-size: 14px;
 			letter-spacing: 1.5px;
 			text-transform: uppercase;
			vertical-align: text-bottom;
 			
 			&:hover {
 				color: $accent;
 			}
 		}
 	}
 }