/* ---------------------------------------------------------------------
 Navigation Bar
 ------------------------------------------------------------------------ */
 
 nav {
 	@include container ($max-width);
 }

 .nav-container {
 	@include span(12);
 	display: flex;
 	justify-content: space-between;
 	align-items: center;
 	padding: 3rem 0;
 }

 .logo {
 	font-family: $body-font;
 	font-weight: 700;
 	font-size: 18px;
 	letter-spacing: .05rem;
 	color: $primary;

 	@media (max-width: $medium-break) {
 		font-size: 16px;
 	}
 }

 ul {
 	display: flex;

 	li {
 		margin-right: 3rem;

 		&:last-child {
 			margin-right: 0;
 		}

 		a {
 			color: $secondary;
 			font-family: $body-font;
 			font-size: 16px;
 			letter-spacing: .05rem;
 			/*text-transform: uppercase;*/
 			
 			&:hover {
 				color: $accent;
 			}

 			@media (max-width: $medium-break) {
 				font-size: 15px;
 			}
 		}
 	}
 }