/* ---------------------------------------------------------------------
 Page Container
 ------------------------------------------------------------------------ */

 .project_content-container {
 	@include container($max-width);
 	padding: 4rem 0 9.375rem 0;
 }

/* ---------------------------------------------------------------------
 Breadcrumb
 ------------------------------------------------------------------------ */

 .breadcrumb-container {
 	@include span(12);
 	display: flex;
 	margin-bottom: 24px;

 	.current-project {
 		margin-left: 4px;
 	}

 	a {
 		color: $accent;

 		&:hover {
 			color: darken( $accent, 10% );
 		}

 		&:visted {
 			color: inherit;
 		}
 	}
 }

 /* ---------------------------------------------------------------------
 Project Description
 ------------------------------------------------------------------------ */

 .description-container {
 	@include span(4 last);
 	margin-bottom: 4rem;
 	
 } 	


 .project-description {
 	margin-bottom: 4px;
 }

 .project-title {
 	margin-bottom: 40px;
 }
 

 /* ---------------------------------------------------------------------
 Project Description (Small, Medium Breakpoint)
 ------------------------------------------------------------------------ */	

@media (max-width: $large-break) {
	.description-container {
		@include span(12);
	}

	.project-title {
		margin-bottom: 8px;
	}	
}

/* ---------------------------------------------------------------------
 Images (Mobile-first)
 ------------------------------------------------------------------------ */

 .project_image-container {
 	/*Mobile-first Width*/
 	@include span(12);

 	img {
 		margin-bottom: 2.5rem;
 		width: 100%;

 		&:last-child {
 			margin-bottom: 0;
 		}
 	}
 }



/* ---------------------------------------------------------------------
 Images (Small Breakpoint)
 ------------------------------------------------------------------------ */

 @media (min-width: $large-break) {
 	.project_image-container {
 		@include span(7.25 first);
 	}
 }