/* ---------------------------------------------------------------------
 Page Container
 ------------------------------------------------------------------------ */

 .project_content-container {
 	@include container($max-width);
 	padding: 64px 0 150px 0;
	
	 @media (max-width: $large-break) {
	 	padding: 32px 0 75px 0;
	 }

	 @media (max-width: $medium-break) {
	 	padding: 24px 0 40px 0;
	 }
 }

/* ---------------------------------------------------------------------
 Breadcrumb
 ------------------------------------------------------------------------ */

 .breadcrumb-container {
 	@include span(12);
 	display: flex;
 	margin-bottom: 24px;

 	.current-project {
 		margin-left: 4px;
 	}

 	a {
 		color: $accent;

 		&:hover {
 			color: lighten( $accent, 10% );
 		}

 		&:visted {
 			color: inherit;
 		}
 	}
 }

 /*Hide at Small Breakpoint*/

 @media (max-width: $large-break) {
 	.breadcrumb-container {
 		display: none;
 	}
 }

/* ---------------------------------------------------------------------
 Images (Mobile-first)
 ------------------------------------------------------------------------ */

 .project_image-container {
 	/*Mobile-first Width*/
 	@include span(12);

 	img {
 		margin-bottom: 2.5rem;
 		width: 100%;

 		&:last-child {
 			margin-bottom: 0;
 		}
 	}
 }

 /*Shrink at Large Breakpoint*/

 @media (min-width: $large-break) {
 	.project_image-container {
 		@include span(7.25);
 	}
 }


 /* ---------------------------------------------------------------------
 Project Description
 ------------------------------------------------------------------------ */

 .description-container {
 	@include span(4 last);
 	margin-bottom: 24px;
 } 	

 .project-description {
 	margin-bottom: 4px;
 }

 .project-title {
 	margin-bottom: 40px;
 }
 
 /*Adjust at Small Breakpoint*/	

 @media (max-width: $large-break) {

 	.description-container {
 		@include span(12);
 	}

 	.project-title {
 		margin-bottom: 16px;
 	}	
 }

/* ---------------------------------------------------------------------
 Links Container
 ------------------------------------------------------------------------ */

 .links-container {
 	@include span(4 last);
 	display: flex;
 	justify-content: space-between;
 	align-items: center;
 }

 /*Widen at Small Breakpoint*/

 @media (max-width: $large-break) {
 	.links-container {
 		@include span(12);
 		margin-top: 24px;
 		justify-content: center;
 	}
 }

 .single-link-container {
 	display: flex;
 	color: $tertiary;
 	stroke: $tertiary;

 	&:hover {
 		.project-link {
 			color: $accent;
 		}

 		.arrow {
 			stroke: $accent;
 		}
 	}

 	/*Space between links at less than large breakpoint*/
	@media (max-width: $large-break) {
	margin: 0 16px;
	}
 }

 .project-link {
 	font-size: 16px;
 	color: $tertiary;

 	@include transition-property(color, fill);
	@include transition-duration(.09s);
	@include transition-timing-function(ease-in);

	&:nth-child(1) { 
		margin-right: 6px;
	}

	&:nth-child(2) { 
		margin-left: 6px;
	}
 }

 .arrow {
 	stroke: $tertiary;

 	@include transition-property(color, fill);
	@include transition-duration(.09s);
	@include transition-timing-function(ease-in);
 }


