/* ---------------------------------------------------------------------
 Page Container
 ------------------------------------------------------------------------ */

 .project_content-container {
 	@include container($max-width);
 	padding: 64px 0 150px 0;

 	@media (max-width: $large-break) {
 		padding: 32px 0 36px 0;
 	}

 	@media (max-width: $medium-break) {
 		padding: 24px 0 32px 0;
 	}
 }

/* ---------------------------------------------------------------------
 Breadcrumb
 ------------------------------------------------------------------------ */

 .breadcrumb-container {
 	@include span(12);
 	display: flex;
 	margin-bottom: 24px;

 	a {
 		color: $accent;

 		&:hover {
 			color: $link-hover;
 		}
 	}

 	.current-project {
 		margin-left: 4px;
 		color: $tertiary;
 	}
 }

 /*Hide at Small Breakpoint*/

 @media (max-width: $large-break) {
 	.breadcrumb-container {
 		display: none;
 	}
 }

/* ---------------------------------------------------------------------
 Images (Mobile-first)
 ------------------------------------------------------------------------ */

 .project_image-container {
 	/*Mobile-first Width*/
 	@include span(12);

 	img {
 		margin-bottom: 2.5rem;
 		width: 100%;

 		&:last-child {
 			margin-bottom: 0;
 		}
 	}
 }

 /*Shrink at Large Breakpoint*/

 @media (min-width: $large-break) {
 	.project_image-container {
 		@include span(7.5);

 		 /*AOS Animation Fade Override*/
		img[data-aos="fade"] {
		@include transition-property(all);
		}

 	}
 }




 /* ---------------------------------------------------------------------
 Project Description
 ------------------------------------------------------------------------ */

 .description-container {
 	@include span(4 last);
 	margin-bottom: 48px;
 } 	

.project-title {
 	margin-bottom: 2rem;
 }

 .project-description {
 	display: flex;
 	margin-bottom: 13px;

 	h4 {
 		margin-right: 4px;
 	}
 }
 
 /*Adjust at Small Breakpoint*/	

 @media (max-width: $large-break) {

 	.description-container {
 		@include span(10);
 	}
 }

 @media (max-width: $medium-break) {
 	.description-container {
 		@include span(12);
 	}
 }

/* ---------------------------------------------------------------------
 Links Container
 ------------------------------------------------------------------------ */

 .links-container {
 	@include span(4 last);
 	display: flex;
 	justify-content: space-between;
 	align-items: center;
 }

 /*Widen at Small Breakpoint*/
 @media (max-width: $large-break) {
 	.links-container {
 		@include span(12);
 		margin-top: 32px;
 		justify-content: center;
 	}
 }

 .single-link-container {
 	display: flex;

 	&:hover {
 		.project-link {
 			color: $link-hover;
 		}

 		.arrow {
 			stroke: $link-hover;
 		}
 	}

 	@media (max-width: $large-break) {
	margin: 0 40px;
 	}
 }

 .project-link {
 	font-size: 16px;
 	color: $accent;

 	@include transition-property(color, fill);
 	@include transition-duration(.09s);
 	@include transition-timing-function(ease-in);

 	&:nth-child(1) { 
 		margin-right: 6px;
 	}

 	&:nth-child(2) { 
 		margin-left: 6px;
 	}
 }

 .arrow {
 	stroke: $accent;

 	@include transition-property(color, fill);
 	@include transition-duration(.09s);
 	@include transition-timing-function(ease-in);
 }


