/* ---------------------------------------------------------------------
 Variables
 ------------------------------------------------------------------------ */

/* === Blue Theme === */
/*$primary: #4F5E66;
$secondary: #7893A1;
$tertiary: #9DA9B0;
$accent: #4BC180;
$link-hover: lighten( $accent, 10% );
$background-color: rgba(237, 241, 245, 1);*/

/* === Gray Theme === */
$primary: #212121;
$secondary: #898989;
$tertiary: #A8A8A8;
$accent: #44C5A2;
$link-hover: lighten( $accent, 10% );

/* === SIZING === */
$max-width: 1130px;

/* === MEDIA QUERIES === */
$medium-break: 850px; 
$large-break: 1024px;

/* === FONTS === */
@import url('https://fonts.googleapis.com/css?family=Hind:400,700|Montserrat:600|Open+Sans:300,400,700');
$base-font-size: 16px;
$headline-font: 'Hind', sans-serif;
$body-font: 'Open Sans', sans-serif;
$logo-font: 'Montserrat', sans-serif;

/* === SHADOWS === */
$card-shadow: 0 4px 8px rgba(0, 0, 0, .20);
$hover-shadow: 0 15px 30px rgba(0, 0, 0, .20);