---
title: home
layout: default
---

    <div class="project-content">

        <div class="project-header">

            <h1 class="site-title">Designer and Product Strategist in Chicago by way of Beijing.</h1>

            <h2 class="site-byline">Primarily working on digital products but doing some other weird stuff too.</h2>

        </div>

        <div class="project-grid">
            
            {% assign sorted_projects = site.pages | sort:"order" %}
            {% for projects in sorted_projects %}
            {% if projects.layout == 'project' %}
          
            <a class="project-card {% if projects.importance == 'primary' %} primary-card {% endif %}" href="{{ site.baseurl }}{{ projects.url }}">
                    <div class="card-image" style="background-image: url({{ site.baseurl}}/img/{{ projects.images[0] }});"></div>
                    <div class="card-content">
                        <h4>{{ projects.title }}</h4>
                        <h3>{{ projects.title }}</h3>
                        <p>{{ projects.description }}</p>
                    </div> 
            </a>

            {% endif %}
            {% endfor %}

        </div>
    </div>





