---
title: Home
layout: default
---

    <div class="project-content">

        <div class="project-header">

            <h1 class="site-title">Chris Mlynarski</h1>

            <h2 class="site-byline">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec portitor imperdiet diam id suscipit.</h2>

        </div>

        <div class="project-grid">

            {% for projects in site.pages %}
            {% if projects.layout == 'project' %}
            
            <a class="project-card" href="{{ site.baseurl }}{{ projects.url }}">
                    <div class="card-image" style="background-image: url({{ site.baseurl}}/img/{{ projects.images[0] }});"></div>
                    <div class="card-content">
                        <h4>{{ projects.title }}</h4>
                        <h3>{{ projects.title }}</h3>
                        <p>{{ projects.description }}</p>
                    </div> 
            </a>
            
            {% endif %}
            {% endfor %}

        </div>
    </div>





