/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url("https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans:400,600,700");
/* line 5, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*Colors*/
/*Sizing*/
/*Fonts*/
/* line 1, ../sass/_base.scss */
* {
  border: 1px solid red !important;
  box-sizing: border-box;
}

/* line 6, ../sass/_base.scss */
html {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}

/* line 11, ../sass/_base.scss */
h1 {
  font-family: "Montserrat", sans-serif;
  color: #4F5E66;
  font-size: 2.625rem;
}

/* line 17, ../sass/_base.scss */
h2 {
  color: #7893A1;
  font-size: 1.5rem;
}

/* line 22, ../sass/_base.scss */
h3 {
  color: #4F5E66;
  font-size: 1.625rem;
}

/* line 27, ../sass/_base.scss */
h4 {
  color: #9DA9B0;
  font-size: 0.875rem;
  text-transform: uppercase;
}

/* line 33, ../sass/_base.scss */
p {
  color: #7893A1;
  font-size: 1rem;
}

/*Hompage Project Grid*/
/* line 9, ../sass/_layouts.scss */
#project-content {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
#project-content:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 12, ../sass/_layouts.scss */
#project-content .project-header {
  width: 100%;
  float: left;
}
/* line 15, ../sass/_layouts.scss */
#project-content .project-header .site-title,
#project-content .project-header .site-byline {
  width: 63.23529%;
  float: left;
  margin-left: 1.71569%;
  margin-right: 1.71569%;
}
/* line 22, ../sass/_layouts.scss */
#project-content #project-grid > div {
  width: 96.56863%;
  float: left;
  margin-left: 1.71569%;
  margin-right: 1.71569%;
  /*height: 350px;*/
  margin-bottom: 1.71569%;
}
@media (min-width: 768px) and (max-width: 1024px) {
  /* line 22, ../sass/_layouts.scss */
  #project-content #project-grid > div {
    width: 46.56863%;
    float: left;
    margin-left: 1.71569%;
    margin-right: 1.71569%;
    margin-bottom: 1.71569%;
  }
  /* line 30, ../sass/_layouts.scss */
  #project-content #project-grid > div:nth-child(10n+1) {
    width: 96.56863%;
    float: left;
    margin-left: 1.71569%;
    margin-right: 1.71569%;
  }
}
@media (min-width: 1025px) {
  /* line 22, ../sass/_layouts.scss */
  #project-content #project-grid > div {
    width: 29.90196%;
    float: left;
    margin-left: 1.71569%;
    margin-right: 1.71569%;
    /*margin-bottom: gutter();*/
  }
  /* line 39, ../sass/_layouts.scss */
  #project-content #project-grid > div:nth-child(10n+1), #project-content #project-grid > div:nth-child(10n+4), #project-content #project-grid > div:nth-child(10n+5) {
    width: 63.23529%;
    float: left;
    margin-left: 1.71569%;
    margin-right: 1.71569%;
  }
}

/*Project Page*/
/* line 58, ../sass/_layouts.scss */
#project-content-container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
#project-content-container:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 62, ../sass/_layouts.scss */
#project-content-container #breadcrumb-container {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}
/* line 66, ../sass/_layouts.scss */
#project-content-container #image-container {
  width: 65.48223%;
  float: left;
  margin-right: 3.5533%;
}
/* line 70, ../sass/_layouts.scss */
#project-content-container #description-container {
  width: 30.96447%;
  float: right;
  margin-right: 0;
}

/*Header*/
/* line 2, ../sass/_modules.scss */
nav {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
nav:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 5, ../sass/_modules.scss */
nav .nav-items {
  width: 96.56863%;
  float: left;
  margin-left: 1.71569%;
  margin-right: 1.71569%;
  display: flex;
  justify-content: space-between;
}
/* line 10, ../sass/_modules.scss */
nav .nav-items ul {
  display: flex;
}

/* line 16, ../sass/_modules.scss */
.nav-items {
  padding: 3.25rem 0;
}

/*Footer*/
/* line 21, ../sass/_modules.scss */
#footer-content {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
#footer-content:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 24, ../sass/_modules.scss */
#footer-content #footer-items {
  width: 96.56863%;
  float: left;
  margin-left: 1.71569%;
  margin-right: 1.71569%;
  display: flex;
  justify-content: space-between;
}
/* line 29, ../sass/_modules.scss */
#footer-content #footer-items div {
  display: flex;
}

/*Site Header*/
/* line 36, ../sass/_modules.scss */
.project-header {
  margin: 8.571rem 0;
}

/* line 40, ../sass/_modules.scss */
.site-title {
  margin-bottom: 3.25rem;
}

/*Project Cards*/
/* line 45, ../sass/_modules.scss */
.project-card {
  height: 400px;
}

/* line 49, ../sass/_modules.scss */
.card-image {
  background-image: url("../img/placeholder.jpg");
  height: 265px;
  background-repeat: no-repeat;
}

/* line 55, ../sass/_modules.scss */
.card-content {
  padding: 1rem 1.5rem 0 1.5rem;
  height: 135px;
}
/* line 59, ../sass/_modules.scss */
.card-content h4 {
  margin-bottom: .25rem;
}
/* line 63, ../sass/_modules.scss */
.card-content h3 {
  margin-bottom: .5rem;
}
