---
title: Project
layout: default
---

	<section class="project_content-container">

		<div class="breadcrumb-container">
			<p><a href="{{ site.baseurl }}/">All Projects</a></p>
			<p class="current-project">• {{ page.title }}</p>
		</div>

		<div class="description-container">
			<h4 class="project-description">{{ page.role }}</h4>
			<h3 class="project-title">
				{{ page.title }}
			</h3>
			<p>
				{{ content }}
			</p>
		</div>

		<div class="project_image-container">

			{% for image in page.images %}
			<img src="{{ site.baseurl }}/img/{{ image }}" alt="">
			{% endfor %}

		</div>

	</section>
