---
title: Project
layout: default
---

<section class="buffer project_content-container">
	<div class="breadcrumb-container">
		<p><a href="{{ site.baseurl }}/">All Projects</a></p>
		<p class="current-project">/ {{ page.pretty_title }}</p>
	</div>

	<div class="description-container">
		<div class="project-description"><h4>{{ page.role }}</h4><h5>{% if page.date %}• {{ page.date }}{% endif %}</h5></div>
		<h3 class="project-title">
			{{ page.pretty_title }}
		</h3>
		<p>
			{{ content }}
		</p>
	</div>

	<div class="project_image-container">

		{% capture location %}img/{{ page.title }}{% endcapture %}
		{% for image in site.static_files %}
		{% if image.path contains location %}

		<img src="{{ site.baseurl }}{{ image.path }}" alt="project image" data-aos="fade" data-aos-duration="500"/>

		{% endif %}
		{% endfor %}
		
	</div>
	
	<div class="project-links-container">

		{% assign previous = page.order | minus: 1 %}
		{% for projects in site.pages %}
		{% if projects.order == previous %}

		<a class="single-link-container" href="{{ site.baseurl }}/{{ projects.url }}">{% include left_arrow.html %}<p class="project-link">Previous</p></a>

		{% endif %}
		{% endfor %}

		{% assign next = page.order | plus: 1 %}
		{% for projects in site.pages %}
		{% if projects.order == next %}

		<a class="single-link-container" href="{{ site.baseurl }}/{{ projects.url }}"><p class="project-link">Next</p>{% include right_arrow.html %}</a>

		{% endif %}
		{% endfor %}

	</div>
</section>
